<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Alert Management</title>
    <link rel="stylesheet" href="/Templates/site.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
